@import '~payload/scss';

.resume-view {
    margin-bottom: base(1);
    padding: base(2);
    border: 1px solid var(--theme-elevation-100);

    h4 {
        margin-bottom: base(0.5);
        margin-top: base(1);
    }
}

.exp-view {
    margin-bottom: base(1);
    padding: base(1);
    border: 1px solid var(--theme-elevation-100);
}

h5 {
    margin-bottom: base(0.5);
    margin-top: base(1);
}

.bloko-text_tertiary,
.desc-small {
    color: #bbb;
}

pre {
    font-family: var(--font-body);
    font-weight: 400;
    color: var(--theme-text);
    white-space: pre-wrap;
    /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}

.resume-block-item-gap,
.bloko-columns-row {
    width: 100%;
}

.bloko-column {
    vertical-align: top;
}

.bloko-columns-row h2 {
    margin: 0 0 $baseline;
    font-size: base(.75);
    line-height: 1.5;
    letter-spacing: -.375px;
    margin-bottom: base(0.5);
    margin-top: base(1);
}

.bloko-columns-row>div {
    display: inline-block;
}

.bloko-columns-row p {
    margin: 0;
}

.bloko-columns-row ul {
    margin: 0 0 $baseline;
}

.bloko-columns-row .bloko-columns-row>div:nth-child(1) {
    width: 160px;
    padding: 0 15px 0 0;
}

.bloko-columns-row .bloko-columns-row>div:nth-child(2) {
    width: calc(100% - 160px);
}

.bloko-text_strong {
    font-weight: 700;
}

.resume-block-item-gap {
    margin-bottom: 25px;
}

.skills button {
    display: none;
}

.bloko-tag_inline {
    width: auto;
    margin: 0 8px 8px 0;
    display: inline-flex;
    max-width: 100%;
    background-color: #eee;
    padding: 0 5px;
}